 a {color: #eee; text-decoration: none}
a:hover {color: blue;}
body {overflow: auto; overflow-y: auto;
    background-color: white;
    background-image: url('bg.png');
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    margin: 0px;}
#jeeFaceFilterCanvas {
    z-index: -1;
    position: relative;
	transform: rotateY(180deg);
	-webkit-transform:rotateY(180deg); /* Safari and Chrome */
	-moz-transform:rotateY(180deg); /* Firefox */
    max-height: 100%;
    max-width: 100%;
    width: 100vmin;
} 

@media (max-width: 787px) {
    #jeeFaceFilterCanvas {
        right: 0px;
        top: 60px;
        transform: rotateY(180deg);
    }
}
